# Ignore everything in the save folder recursively
save/**

# Do not ignore files directly in the save folder
!save/*

# Ignore all subdirectories and their contents in the save folder
save/*/


# Ignore all .out files in the current directory
/*.out

# Ignore all .sh files in the current directory
/*.sh